{% macro moduleLine(module, local = '') %}
    <style type="text/css">

        .wrap-line.level{{ module.level.id }} {
            {% if module.height|length > 0 %}
                height: {{ module.height }};
            {% endif %}
            {% if module.backgroundImg|length > 0 %}
                {% if module.backgroundImg|length > 0 %}
                    background-image: url('{{ local }}{{ asset(module.webPath) }}');
                {% endif %}
                {% if module.backgroundPosition|length > 0 %}
                    background-position: {{ module.backgroundPosition }};
                {% endif %}
                {% if module.backgroundAttachment|length > 0 %}
                    background-attachment: {{ module.backgroundAttachment }};
                {% endif %}
                {% if module.backgroundSize|length > 0 %}
                    background-size: {{ module.backgroundSize }};
                {% endif %}
            {% endif %}
            {% if module.backgroundColor|length > 0 %}
                background-color: {{ module.backgroundColor }};
            {% endif %}
        }

        {% if module.verticalAlign|length > 0 %}
            .wrap-line.level{{ module.level.id }} .line .wrap-center-block .center-block {
                vertical-align: {{ module.verticalAlign }};
            }
        {% endif %}

        {% if module.width|length > 0 %}
        .wrap-line.level{{ module.level.id }} .line .wrap-center-block .center-block .text-block {
            width: {{ module.width }};
        }
        {% endif %}

        {% if module.shadow > 0 %}
        .wrap-line.level{{ module.level.id }} .shadow {
            opacity: {{ (module.shadow) / 100 }};
        }
        {% endif %}

        {% if module.shadowText > 0 %}
        .wrap-line.level{{ module.level.id }} * {
            text-shadow: {{ module.shadowText }};
        }
        {% endif %}
    </style>
    <div class="wrap-line level-block level{{ module.level.id }}">
        <div class="shadow"></div>
        <div class="line">

            <!-- Center Block -->
            <div class="wrap-center-block">
                <div class="center-block">
                    <div class="text-block">
                        {{ module.text|raw }}
                    </div>
                </div>
            </div>
            <!-- end Center Block -->

        </div>
    </div>
{% endmacro %}