{% extends 'SiteMainBundle:Backend:layout.html.twig' %}

{% block content -%}
    <ul class="record_actions nav nav-pills">
        <li>
            <a href="{{ path('backend_page_show', {'id': app.request.get('page_id'), 'project_id': app.request.get('project_id')}) }}">
                {{ 'backend.level.back_to_list'|trans({}, 'menu') }}
            </a>
        </li>
    </ul>

    <h1>{{ 'backend.level.h1_edit'|trans({}, 'menu') }}</h1>

    {{ form(delete_form) }}

    {{ form_start(edit_form, { 'style': 'horizontal' , attr: {novalidate: 'novalidate'} }) }}
    {% for keyForm, form in edit_form %}
        {% if keyForm != 'moduleHeader' and keyForm != 'moduleLine' %}
            {{ form_row(form) }}
        {% elseif keyForm == 'moduleHeader' or keyForm == 'moduleLine' %}
            <div class="form-group">
                {{ form_label(form) }}
                <div class="col-lg-10">
                    {% for keyField, field in form %}
                        <div class="form-group">
                            {{ form_label(field) }}
                            <div class="col-lg-10">
                                {% if (keyField == 'backgroundImg' or keyField == 'logo') and field.vars.value | length > 0 %}
                                    <div class="widget-img">
                                        <a href="{{ asset('uploads/'~entity.page.project.slug~'/'~keyForm~'/'~field.vars.value) }}" target="_blank">
                                            <img src="{{ image('uploads/'~entity.page.project.slug~'/'~keyForm~'/'~field.vars.value).cropResize(100) }}" width="100px" alt=""/>
                                        </a>
                                    </div>
                                {% endif %}
                                {% if keyField == 'video' and field.vars.value | length > 0 %}
                                    <div class="widget-video">
                                        <video width="320" height="240" controls>
                                            <source src="{{ asset('uploads/'~entity.page.project.slug~'/'~keyForm~'/'~field.vars.value) }}">
                                        </video>
                                    </div>
                                {% endif %}
                                {{ form_widget(field) }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
    {{ form_end(edit_form) }}

    <ul class="record_actions nav nav-pills">
        <li>
            <a href="{{ path('backend_page_show', {'id': app.request.get('page_id'), 'project_id': app.request.get('project_id')}) }}">
                {{ 'backend.level.back_to_list'|trans({}, 'menu') }}
            </a>
        </li>
    </ul>
{% endblock %}