{% extends 'SiteMainBundle:Backend:layout.html.twig' %}

{% block content -%}
    <h1>{{ 'backend.project.h1_list'|trans({}, 'menu') }}</h1>

    {% if entities|length > 0 %}
        <table class="records_list table table-striped table-bordered">
            <thead>
            <tr>
                <th>{{ 'backend.project.title'|trans({}, 'menu') }}</th>
                <th>{{ 'backend.actions'|trans({}, 'menu') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('backend_project_show', { 'id': entity.id }) }}">{{ entity.title }}</a></td>
                    <td>
                        <ul class="nav nav-pills">
                            {#<li>#}
                                {#<a href="{{ path('backend_project_show', { 'id': entity.id }) }}">{{ 'backend.show'|trans({}, 'menu') }}</a>#}
                            {#</li>#}
                            <li>
                                <a href="{{ path('backend_project_edit', { 'id': entity.id }) }}">{{ 'backend.edit'|trans({}, 'menu') }}</a>
                            </li>
                            <li>
                                <a href="{{ path('frontend_project_index', { 'slug': entity.slug }) }}" target="_blank">{{ 'backend.show_result'|trans({}, 'menu') }}</a>
                            </li>
                            <li>
                                <a href="{{ path('frontend_project_generate_html', { 'slug': entity.slug }) }}" target="_blank">{{ 'backend.show_zip'|trans({}, 'menu') }}</a>
                            </li>
                            <li>
                                {{ form(deleteForms[entity.id]) }}
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ knp_pagination_render(entities) }}
    {% else %}
        <div class="alert alert-warning">
            {{ 'backend.project.empty_list'|trans({}, 'menu') }}
        </div>
    {% endif %}

    <ul class="nav nav-pills">
        <li class="active">
            <a href="{{ path('backend_project_new') }}">
                {{ 'backend.create'|trans({}, 'menu') }}
            </a>
        </li>
    </ul>
{% endblock %}
