{% extends 'SiteMainBundle:Backend:layout.html.twig' %}

{% block content -%}
    {#<h1>{{ 'backend.project.h1_show'|trans({}, 'menu') }}</h1>#}



    {#<table class="record_properties table table-striped table-bordered">#}
        {#<tbody>#}
        {#<tr>#}
            {#<th>{{ 'backend.project.title'|trans({}, 'menu') }}</th>#}
            {#<td>{{ entity.title }}</td>#}
        {#</tr>#}
        {#</tbody>#}
    {#</table>#}

    {#<ul class="record_actions nav nav-pills">#}
        {#<li>#}
            {#<a href="{{ path('backend_project_index') }}">#}
                {#{{ 'backend.project.back_to_list'|trans({}, 'menu') }}#}
            {#</a>#}
        {#</li>#}
        {#<li>#}
            {#<a href="{{ path('backend_project_edit', { 'id': entity.id }) }}">#}
                {#{{ 'backend.edit'|trans({}, 'menu') }}#}
            {#</a>#}
        {#</li>#}
        {#<li>#}
            {#<a href="{{ path('backend_project_new') }}">#}
                {#{{ 'backend.create'|trans({}, 'menu') }}#}
            {#</a>#}
        {#</li>#}
        {#<li>#}
            {##}
        {#</li>#}
    {#</ul>#}

    {% include 'SiteMainBundle:Backend/Page:index.html.twig' %}
    <br/>
    {{ form(delete_form) }}
{% endblock %}
